.der{
    padding-top: 18px;
    padding-left: 20px;
    color: rgb(243, 59, 59);
    font-weight: bold;
}
.ders{
    padding-top: 18px;
    padding-left: 20px;
}
.img {
    margin: 5% 0px;
    height: 50%;
    width: 50%;
}
.imgtext-header {
    font-size: 30px;
    text-align: center;
}
.imgdiv {
    margin: auto;
}