@font-face {
    font-family: 'Poppins Light';
    src: url('../fonts/Poppins-Light.woff') format('woff');
}
@font-face {
    font-family: 'Poppins Medium';
    src: url('../fonts/Poppins-Medium.woff') format('woff');
}
*{
    font-family: 'Poppins Light', 'Times New Roman', sans-serif;
}
b {
    font-family: 'Poppins Medium', 'Arial Black', serif;
}
.f-bold {
    font-family: 'Poppins Medium', 'Arial Black', serif;
}
.der{
    padding-top: 18px;
    padding-left: 20px;
    color: rgb(243, 59, 59);
    font-weight: bold;
}
.ders{
    padding-top: 18px;
    padding-left: 20px;
}
.img {
    margin: 5% 0px;
    height: 50%;
    width: 50%;
}
.imgtext-header {
    font-size: 30px;
    text-align: center;
}
.imgdiv {
    margin: auto;
}
.icon-8 {
    font-size: 8.0rem!important;
}
.icon-1 {
    font-size: 1.0em!important;
}
.img-card {
    height: 200px;
}
.why-icon-small
{
    width: 3rem;
    height: 3rem;
}
.why-icon-medium
{
    width: 100px;
    height: 100px;
}
.main-block-img {
    max-height: 80vh;
}
.logos::before, 
.logos::after {
    content: '';
    width: 300px;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
}

.logos::before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #fff);
}

.logos::after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #fff);
}

.logos-slide {
    animation: 20s slide infinite linear;
}

.logos:hover .logos-slide {
    animation-play-state: paused;
}

.logos-slide img {
    height: 60px;
    margin: 0 50px;
}

@keyframes slide {
    from{
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.hover-card:hover {
    transform: scale(1.05);
}
.hover-card {
    transition: transform 0.4s ease-out;
}
.brand-img {
    max-width: 300px !important;
}
.hover-card-brands:hover {
    transform: scale(1.01);
}
.hover-card-brands {
    transition: transform 0.3s ease-out;
}

.nav-link:hover {
    transform: scale(1.05);
}

.bg-red {
    color: white;
    background-color: #de2121;
    border-color: #de2121;
}
.text-red {
    color: #de2121;
}
.btn-red {
    --bs-btn-color: #fff;
    --bs-btn-bg: #de2121;
    --bs-btn-border-color: #de2121;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #d32020;
    --bs-btn-hover-border-color: #c51f1f;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #c51f1f;
    --bs-btn-active-border-color: #c41919;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #de2121;
    --bs-btn-disabled-border-color: #de2121;
}

.main-block {
    background-image: url('../images/back.svg');
    background-color: #bec0d6;
    background-repeat: repeat;
    background-size: 8%;
}

.vh-101
{
    min-height: 95vh;
}

.btn-circle {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    font-size: 16px;
}

.active-star {
    color: #FBC02D;
    margin-bottom: 8px
}

.active-star:hover {
    color: #F9A825;
    cursor: pointer
}

.name {
    font-weight: 700
}

.item img {
    width: 45px !important;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}
.item i {
    width: 45px !important;
    height: 45px;
    text-align: center;
    font-size: 30px;
}
.pop-block {
    background-color: rgb(255 255 255 / 75%);
    background-image: url(../images/back.svg);
    background-repeat: repeat;
    background-size: 50%;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; /* remove the gap so it doesn't close */
}
.active:active {
    color:#d32020;
}
.charlot {
    background-image: url("/assets/images/charlotte.webp");
    background-repeat: no-repeat;
    background-size: cover ;
    z-index: 1;
}
.img-thumb {
    height: 80%;
}
.restoran {
    background-image: url("/assets/images/restoran\ \(1\).webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover ;
    z-index: 1;
}