@font-face {
    font-family: 'Poppins Light';
    src: url('../fonts/Poppins-Light.woff') format('woff');
}
@font-face {
    font-family: 'Poppins Medium';
    src: url('../fonts/Poppins-Medium.woff') format('woff');
}
*{
    font-family: 'Poppins Light', 'Times New Roman', sans-serif;
}
b {
    font-family: 'Poppins Medium', 'Arial Black', serif;
}
.f-bold {
    font-family: 'Poppins Medium', 'Arial Black', serif;
}
.der{
    padding-top: 18px;
    padding-left: 20px;
    color: rgb(243, 59, 59);
    font-weight: bold;
}
.ders{
    padding-top: 18px;
    padding-left: 20px;
}
.img {
    margin: 5% 0px;
    height: 50%;
    width: 50%;
}
.imgtext-header {
    font-size: 30px;
    text-align: center;
}
.imgdiv {
    margin: auto;
}
.icon-8 {
    font-size: 8.0rem!important;
}
.icon-1 {
    font-size: 1.0em!important;
}
.img-card {
    height: 200px;
}
.why-icon-small
{
    width: 3rem;
    height: 3rem;
}

.logos::before, 
.logos::after {
    content: '';
    width: 300px;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
}

.logos::before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #fff);
}

.logos::after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #fff);
}

.logos-slide {
    animation: 20s slide infinite linear;
}

.logos:hover .logos-slide {
    animation-play-state: paused;
}

.logos-slide img {
    height: 60px;
    margin: 0 50px;
}

@keyframes slide {
    from{
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.hover-card:hover {
    transform: scale(1.05);
}
.hover-card {
    transition: transform 0.4s ease-out;
}
.bg-red {
    color: white;
    background-color: #de2121;
    border-color: #de2121;
}
.text-red {
    color: #de2121;
}
.btn-red {
    --bs-btn-color: #fff;
    --bs-btn-bg: #de2121;
    --bs-btn-border-color: #de2121;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #d32020;
    --bs-btn-hover-border-color: #c51f1f;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #c51f1f;
    --bs-btn-active-border-color: #c41919;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #de2121;
    --bs-btn-disabled-border-color: #de2121;
}

.main-block {
    background-image: url('../images/back.svg');
    background-color: #bec0d6;
    background-repeat: repeat;
    background-size: 8%;
}
.vh-101
{
    min-height: 100vh;
}
.inline-bullet-list {
    list-style: none;
    padding: 0;
    font-size: 17px;
    display: flex;
  }
  
  .inline-bullet-list li {
    margin-right: 10px; /* Отступ между пунктами */
    position: relative;
    padding-left: 20px; /* Отступ для буллета */
  }
  
  .inline-bullet-list li::before {
    content: "•"; /* Символ буллета */
    position: absolute;
    left: 0;
    color: black; /* Цвет буллета */
  }
  